h1 {
    text-align: center;
    background-color: gray;
    padding: 25px;
}

h2 {
    text-align: center;
}

div {
    padding: 10px;
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid black;
 }
 
 table tr {
     text-align: center;
    padding: 5px;
 }
 
 table thead tr {
     text-align: center;
    background-color: #50BFE6;
    color: white;
 }

h3{
    text-align: center;
}
h4 {
    text-align: right; 

}






