h1 {
    text-align: center;
    background-color: gray;
    padding: 25px;
}

h2 {
    text-align: center;
}

div {
    padding: 10px;
    text-align: center;
}

table td {
    padding: 5px;
    text-align: center;
    width: 200px;
    border: 1px solid black;
}



tr:nth-child(odd) {
    background-color: gray;
}

h3 {
    text-align: right; 

}





