h1 {
    text-align: center;
    background-color: gray;
    padding: 25px;
}

h2 {
    text-align: center;
}

h3{
    text-align: center;
}
h4 {
    text-align: right; 

}

div {
    padding: 10px;
    text-align: center;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
    text-align: center;
    background-color: gray;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }
 







